table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    height: 50px;
    /* 各セルの高さを統一 */
}

/* 曜日のスタイル */
.sunday-header {
    color: red;
    /* 日曜日のフォント色を赤に */
}

.saturday-header {
    color: blue;
    /* 土曜日のフォント色を青に */
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

.today {
    background-color: green;
    color: #fff;
}

.gray {
    color: #ccc;
}

/* 祝日のスタイル */
.holiday {
    color: red;
}

/* 振替休日のスタイル */
.substitute {
    color: red;
}

/* 振替休日のスタイル */
.substitute span {
    display: inline-block;
    /* inline-blockでセルの高さが変わらないようにする */
    font-size: 0.75em;
    /* 文字サイズを調整 */
    line-height: 1.2;
    /* 行の高さを調整して見やすくする */
}
